@semantic-release/changelog
@semantic-release/commit-analyzer
@semantic-release/exec
@semantic-release/git
@semantic-release/gitlab
<<- if hasKey .Languages "nodejs" >>
@semantic-release/npm
<<- end >>
@semantic-release/release-notes-generator
conventional-changelog-conventionalcommits@7
<<- if .License >>
semantic-release-license
<<- end >>
<<- if .CI.Release.Backmerge >>
@kilianpaquier/semantic-release-backmerge
<<- end >>