jobs:
<<- define "hugo" >>
<<- $specifics := get .Languages "hugo" >>

  hugo-build:
    name: Hugo Build
    runs-on: ubuntu-latest
    needs: version
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true # fetch Hugo themes (true OR recursive)
          fetch-depth: 0 # fetch all history for .GitInfo and .Lastmod
      <<- /* renovate: datasource=github-tags versioning=regex:^(?<major>\\d+)$ */>>
      - uses: actions/cache@v4
        with:
          path: /home/runner/.cache/hugo_cache
          key: hugo-${{ hashFiles('go.sum') }}
          restore-keys: |
            hugo-
      # https://github.com/marketplace/actions/hugo-setup
      <<- /* renovate: datasource=github-tags versioning=regex:^(?<major>\\d+)$ */>>
      - uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: latest
          extended: true
      - run: |-
<<- if $specifics.IsTheme >>
          [ ! -d exampleSite ] || cd exampleSite
<<- end >>
          hugo --gc --enableGitInfo --minify --destination "${GITHUB_WORKSPACE}/dist" --logLevel debug
        env:
          VERSION: ${{ needs.version.outputs.version }}
<<- if .IsDeployment "pages" >>
      <<- /* renovate: datasource=github-tags versioning=regex:^(?<major>\\d+)$ */>>
      - uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages
          path: dist
          retention-days: 1
<<- else >>
      <<- /* renovate: datasource=github-tags versioning=regex:^(?<major>\\d+)$ */>>
      - uses: actions/upload-artifact@v4
        with:
          name: build
          path: dist
          retention-days: 1
<<- end >>
<<- end >>
