openapi: 3.0.3
info:
  title: << .ProjectName >>
<<- with .Description >>
  description: << . >>
<<- end >>
<<- $maintainer := index .Maintainers 0 >>
<<- if $maintainer.Email >>
  contact:
    name: << $maintainer.Name >>
    email: << $maintainer.Email >>
<<- end >>
<<- with .License >>
  license:
    name: << . >>
<<- end >>
  version: 0.1.0
tags:
  - name: Monitoring
    description: monitoring endpoints
paths:
  /unsecured/ping:
    get:
      tags:
        - Monitoring
      summary: checks API health and retrieves ping result
      description: checks API health and retrieves ping result
      operationId: unsecuredPing
      responses:
        '200':
          description: "success response returning ping results"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsecuredPing'
        default:
          description: "default error response"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
          format: int64
          description: error code
        message:
          type: string
          description: error message
    UnsecuredPing:
      type: object
      properties:
        status:
          type: string
          description: ping status
