// This file is safe to edit. Once it exists it will not be overwritten.


{{ if .Copyright -}}// {{ comment .Copyright -}}{{ end }}


{{ $package := .Package }}
package {{ $package }}_test

import (
	"net/http"
	"testing"

	"github.com/stretchr/testify/assert"

    {{ $package }}_api {{ joinFilePath .TargetImportPath "internal/api" $package | quote }}
    {{ imports .DefaultImports }}
    {{ imports .Imports }}
)

func Test{{ pascalize .Name }}(t *testing.T) {
	t.Run("success", func(t *testing.T) {
		// Arrange
		params := {{ $package }}.{{ pascalize .Name }}Params{
			HTTPRequest: &http.Request{},
		}
		response := {{ $package }}.New{{ pascalize .Name }}Default(http.StatusOK)

		// Act
		responder := {{ $package }}_api.{{ pascalize .Name }}(params{{ if .Authorized }}, {{ if .PrincipalIsNullable }}&{{ end }}{{ .Principal }}{{"{}"}}{{ end }})

		// Assert
		assert.Equal(t, response, responder)
	})
}