<!-- This file is safe to edit. Once it exists it will not be overwritten. -->

# << .ProjectName >> <!-- omit in toc -->

<<- /* coverable is meant to be true only when there's at least on language that can be affected by coverage */ ->>
<<- $coverable := or (hasKey .Languages "golang") (hasKey .Languages "nodejs") >>

<p align="center">
<<- $style := "for-the-badge" >>
<<- $branch := "main" >>

<<- if eq .Platform "github" >>
<<- if and .CI $coverable >>
  <img alt="GitHub Actions" src="https://img.shields.io/github/actions/workflow/status/<< .ProjectPath >>/integration.yml?branch=<< $branch >>&style=<< $style >>">
<<- end >>
  <img alt="GitHub Release" src="https://img.shields.io/github/v/release/<< .ProjectPath >>?include_prereleases&sort=semver&style=<< $style >>">
  <img alt="GitHub Issues" src="https://img.shields.io/github/issues-raw/<< .ProjectPath >>?style=<< $style >>">
<<- if .License >>
  <img alt="GitHub License" src="https://img.shields.io/github/license/<< .ProjectPath >>?style=<< $style >>">
<<- end >>
<<- if and $coverable .CI (has "codecov" .CI.Options) >>
  <img alt="Coverage" src="https://img.shields.io/codecov/c/<< .Platform >>/<< .ProjectPath >>/<< $branch >>?style=<< $style >>">
<<- end >>
<<- end >>

<<- if eq .Platform "gitlab" >>
<<- $url := toQuery (print "https://" .ProjectHost) >>
<<- if .CI >>
  <img alt="Gitlab Pipeline" src="https://img.shields.io/gitlab/pipeline-status/<< toQuery .ProjectPath >>?gitlab_url=<< $url >>&branch=<< $branch >>&style=<< $style >>">
<<- end >>
  <img alt="GitLab Release" src="https://img.shields.io/gitlab/v/release/<< toQuery .ProjectPath >>?gitlab_url=<< $url >>&include_prereleases&sort=semver&style=<< $style >>">
  <img alt="GitLab Issues" src="https://img.shields.io/gitlab/issues/open/<< toQuery .ProjectPath >>?gitlab_url=<< $url >>&style=<< $style >>">
<<- if .License >>
  <img alt="GitLab License" src="https://img.shields.io/gitlab/license/<< toQuery .ProjectPath >>?gitlab_url=<< $url >>&style=<< $style >>">
<<- end >>
<<- end >>

<<- if and $coverable .CI (has "sonar" .CI.Options) >>
<<- $url := toQuery "https://sonarcloud.io" >>
  <img alt="Coverage" src="https://img.shields.io/sonar/coverage/<< .ProjectPath | replace "/" "_" >>/<< $branch >>?server=<< $url >>&style=<< $style >>">
<<- end >>

<<- if or (hasKey .Languages "golang") (hasKey .Languages "hugo") >>
  <img alt="Go Version" src="https://img.shields.io/<< .Platform >>/go-mod/go-version/<< print .ProjectPath >>/<< $branch >>?style=<< $style >>&label=<< toQuery "Go Version" >>">
<<- end >>
<<- if or (hasKey .Languages "golang") >>
  <img alt="Go Report Card" src="https://goreportcard.com/badge/<< print .ProjectHost "/" .ProjectPath >>?style=<< $style >>">
<<- end >>
</p>

---