@semantic-release/changelog
@semantic-release/commit-analyzer
@semantic-release/exec
@semantic-release/git
@semantic-release/github
<<- if hasKey .Languages "nodejs" >>
@semantic-release/npm
<<- end >>
@semantic-release/release-notes-generator
conventional-changelog-conventionalcommits
<<- if .License >>
semantic-release-license
<<- end >>